body {

    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("./images/felix_besombes_background.jpg");

    background-size: cover;
    /*position: absolute;*/
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS for the navigation bar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    list-style-type: none;
    /* padding: 0; */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #181E34;
    color: white;
}


nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    /*text-decoration: none;*/
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
}

nav a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

h3 {
    color: #5A596D;
}

/* CSS for the main page content */

#mainContent {
    padding-top: 70px;
}


/* Create column display for the home page */
.column {
    float: left;
    padding: 10px;


}

.left {
    width: 50%;
    position: sticky;
    top: 70px;
}

.right {
    width: 50%;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Styling the destinations */
.destImage {
    max-width: 70%;
    max-height: 70%;
    object-fit: cover;
}

.visitBtn {
    float: right;
}


/* Styling buttons */
button {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;

    /* Hover: */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #008CBA;
    /* Green */
    color: white;
}

#btnBookNow {
    background-color: #008CBA;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
}

#btnBookNow:hover {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
}

.searchArea {
    background-color: white;
    color: #7C4A0D;
    border-radius: 7px;
    font-size: 9px;
    padding: 0px 3px;
}

#btnSearch,
#btnReset {
    padding: 2px;
    width: 40px;
    margin-right: 0;
    border: 1px solid #7C4A0D;
    background-color: white;
    border-radius: 7px;
    font-size: 12px;
    color: #7C4A0D;
}

#searchInput {
    font-size: 11px;
    padding: 3px;
    border: none;
    border-bottom: 1px solid #ccc;
}



/* main content styling */
h1 {
    width: 100%;
    font-size: 4.5vw;
}

p {
    padding: 10px 0px;
}

#siteIntro {
    padding: 2.5vw 0;
    width: 70%;
}


/* style about us page */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 4px;

    padding: .5rem;

    background-color: white;
    color: black;
    text-align: center;
    justify-content: center;
}

.card img {
    width: 50%;
    height: 50%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #7C4A0D;
}

.infoContainer {
    padding: 2px 16px;
}


