body {
    background-image: url("./images/felix_besombes_background.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    position: absolute;
    color: white;
}

/* CSS for the navigation bar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

}

nav {
    list-style-type: none;
    /* padding: 0; */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    color: black;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

/* CSS for the main page content */

#mainContent {
    padding-top: 70px;
}


/* Create column display for the home page */
.column {
    float: left;
    padding: 10px;

}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Styling the destinations */
.destImage {
    max-width: 70%;
    max-height: 70%;
    object-fit:cover;
}

.visitBtn{
    float: right;
}